Circuit ID, Type, Provider, Status, Tenant, Termination Site, Termination Device, Termination Port, Speed Mbps, Termination Provider, IP
{% for circuit in queryset -%}
"{{ circuit.cid }}","{{ circuit.type }}","{{ circuit.provider.name }}","{{ circuit.status }}","{{ circuit.tenant.name }}","{{ circuit.termination_a.termination.name}}","{{ circuit.termination_a.cf.terminatingDevice }}","{{ circuit.termination_a.cf.Interface}}","{{ circuit.termination_a.port_speed/1000 }}","{{ circuit.termination_z.termination.name }}", "{{circuit.termination_a.cf.ip}}"
{% endfor -%}