Circuit ID, Type, Status, Provider, Provider Account, Tenant, Termination Site, Termination Device, Termination Port, Speed Mbps, Termination Provider, IP, Install Date, Termination Date
{% for circuit in queryset -%}
"{{ circuit.cid }}","{{ circuit.type }}","{{ circuit.status }}","{{ circuit.provider.name }}","{{ circuit.provider_account.name }}","{{ circuit.tenant.name }}","{{ circuit.termination_a.termination.name}}","{{ circuit.termination_a.cf.terminatingDevice }}","{{ circuit.termination_a.cf.Interface}}","{{ circuit.termination_a.port_speed/1000 }}","{{ circuit.termination_z.termination.name }}", "{{circuit.termination_a.cf.ip}}"
{% endfor -%}