Device Name,Serial Number,Tenant,Site Name,Site Physical Address,Var,Secondary,EC License
{% for device in queryset -%}
{{ device.name }},{{ device.serial }},{{ device.tenant.name }},{{ device.site.name }},"{{ device.site.physical_address }}",{{device.cf.var}},{{device.cf.secondary}},{{device.cf.ec_license}}
{% endfor %}