Site Name,Serial Number,Tenant,Device Name,Site Physical Address,Var,Secondary Firewall,EC License,EOL
{% set dict = {} %}
{% for device in queryset -%}
{% if device.device_type.cf.eol -%}
{% set time = device.last_updated|string -%}
{% set now = time.split(' ')[0]|replace("-","0")|int -%}
{% set eol_int = device.device_type.cf.eol|replace("-","0")|int -%}
{% if eol_int > now -%}
{% set eol = device.device_type.cf.eol -%}
{% else -%}
{% set eol = "EOL" -%}
{% endif -%}
{% else -%}
{% set eol = "Not Set" -%}
{% endif -%}
{% set x = dict.__setitem__(device.site.name, {"SN": device.serial, "Tenant": device.tenant.name, "Device Name": device.name, "Site Physical Address": device.site.physical_address, "Var": device.cf.var, "Secondary Firewall": device.cf.secondary, "EC License": device.cf.ec_license, "EOL": eol}) -%}
{% endfor -%}