Device Name,Site Name,Site Description,Facility,Physical Address,City,State,Site Tier,Device Name,Device Type,Manufacturer,EndofLife,Role,Serial Number,Tenant,Tenant Group,VAR,Secondary Firewall,EC License
{% set dict = {} -%}
{% for device in queryset -%}
{% if device.device_type.cf.eol -%}
{% set time = device.last_updated|string -%}
{% set now = time.split(' ')[0]|replace("-","0")|int -%}
{% set eol_int = device.device_type.cf.eol|replace("-","0")|int -%}
{% if eol_int > now -%}
{% set eol = device.device_type.cf.eol -%}
{% else -%}
{% set eol = "EndofLife" -%}
{% endif -%}
{% else -%}
{% set eol = "Not Set" -%}
{% endif -%}
{% if device.site.name in dict.keys() -%}
{% set x = dict.update({device.site.name: dict[device.site.name] + [{"name": device.site.name, "sn": device.serial, "description": device.site.description, "facility": device.site.facility, "physical_address": device.site.physical_address, "city": device.site.region, "state": device.site.region.parent, "site_tier": device.site.group, "device_name": device.name, "device_type": device.device_type.model, "manufacturer": device.device_type.manufacturer.name, "eol": eol, "role": device.role.name, "tenant": device.tenant.name, "tenant_group": device.tenant.group.name, "var": device.cf.var, "secondary_firewall": device.cf.secondary, "ec_license": device.cf.ec_license}]}) -%}
{% else -%}
{% set x = dict.update({device.site.name: [{"name": device.site.name, "sn": device.serial, "description": device.site.description, "facility": device.site.facility, "physical_address": device.site.physical_address, "city": device.site.region, "state": device.site.region.parent, "site_tier": device.site.group, "device_name": device.name, "device_type": device.device_type.model, "manufacturer": device.device_type.manufacturer.name, "eol": eol, "role": device.role.name, "tenant": device.tenant.name, "tenant_group": device.tenant.group.name, "var": device.cf.var, "secondary_firewall": device.cf.secondary, "ec_license": device.cf.ec_license}]}) -%}
{% endif -%}
{% endfor -%}
{% set omit = ["_UNASSIGNED"] %}
{% set sorted = dict|dictsort -%}
{% for site in omit %}
{% set x = sorted.pop(site) %}  
{% endfor %}
{% for site, info in sorted -%}
{% for info in info -%}
"{{ info.device_name }}","{{ site }}","{{ info.description }}","{{ info.facility }}","{{ info.physical_address }}","{{ info.city }}","{{ info.state }}","{{ info.site_tier }}","{{ info.device_type }}","{{ info.manufacturer }}","{{ info.eol }}","{{ info.role }}","{{ info.sn }}","{{ info.tenant }}","{{ info.tenant_group }}","{{ info.var }}","{{ info.secondary_firewall }}","{{ info.ec_license }}"
{% endfor -%}
{% endfor -%}
